body {
    text-align: center;
    background-color: #289FFA;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #28FA6E;
}

button {
    font-size: 0.8em;
    background-color: #28FA6E;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #0cfa5c;
    transform: scale(110%);
}

button:active {
    transform: scale(90%);
}

input {
    font-size: 0.8em;
}

#answer {
    font-weight: 600;
}