* {
    font-size: 1.5rem;
    margin: 0.5rem;
}

body {
    text-align: center;
    background-color: lightcoral;
}

label {
    font-weight: bold;
}

button {
    background-color: #81F59A;
    cursor: pointer;
}