body {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600;
    background-color: #AD5A40;
    color: #75FAD7;
}

label {
    display: block;
    margin: 3% 0% 3% 0%;
}

button {
    display: inline-block;
    margin-top: 3%;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #FA9475;
    border: 2px solid #000;
    border-radius: 10px;
}

button:hover {
    background-color: #FFAB91;
    transform: scale(110%);
}

button:active {
    transform: scale(90%);
}

input {
    width: 100%;
    font-size: 0.8em;
    border: 2px solid #000;
    border-radius: 10px;
}

select {
    width: 100%;
    font-size: 0.8em;
    border: 2px solid #000;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    body {
      width: 90%;
    }
}